<main class="h-100">
    <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen=""
        src="https://www.google.com/maps/embed/v1/view?zoom=12&center=32.0853%2C34.7818&key=AIzaSyBrZaaExLwToVzjH89q5DLIEKp0TqHQpNs"></iframe>
</main>